<div class="featured_icons">
  <div class="page-width">
     <div class="featured_icons_inner">
       
       {% for block in section.blocks %}
       <!-- Items -->
       <div class="featured_icons_item">
         <div class="featured___image">
           <a href="{{ block.settings.link }}">
           {% if block.settings.img != blank %}
             <img src="{{ block.settings.img | img_url: '200x' }}" alt="{{ block.settings.img.alt }}">
             {% else %}
             <img src="https://via.placeholder.com/180x160.png" alt="{{ block.settings.img.alt }}">
           {% endif %}
           </a>
         </div>
         <div class="featured_icons_contents">
           <h3>{{ block.settings.title }}</h3>
           {{ block.settings.text }}
         </div>
       </div>
       {% endfor %}
       
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Featured Icons",
    "max_blocks": 3,
    "settings": [],
    "blocks": [
       {
        "name": "Item",
        "type": "icons",
        "settings": [
             {
              "type": "image_picker",
              "id": "img",
              "label": "Add Icon"
             },
             {
              "type": "text",
              "id": "title",
              "label": "Title"
             },
             {
              "type": "richtext",
              "id": "text",
              "label": "descriptions"
             },
             {
               "type": "url",
              "id": "link",
              "label": "Icon Link"
             }
           ]
       }
   ],
    "presets": [
      {
        "name": "Featured Icons",
        "category": "Featured Icons",
         "blocks": [
                  {
                    "type": "icons"
                  },
                  {
                    "type": "icons"
                  },
                  {
                    "type": "icons"
                  }
          ]
      }

    ]
  }
{% endschema %}



<style>
  
.featured_icons_inner img {
  max-width: 100px;
}
  .featured_icons_inner {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 20px;
	text-align: center;
}
  .featured_icons {
  padding: 30px 0px 60px 0px;
}
.featured_icons_contents {
  margin-top: 18px;
}
.featured_icons_contents h3 {
  font-size: 20px;
}
  
  
  
  @media only screen and (max-width: 767px ) {
    
    
    .featured_icons_inner {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 20px;
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}
    
    
  }
</style>
